/* hero_scroll-container*/


.hero_nike-logo{
  position: relative;
  left: 20%;
  width: 129px;
  height: 64px;
}

.hero_info{
  position: absolute;
  top: 20%;
  left: 25%;
  display: flex;

  align-items: center;
  flex-direction: column;
  font-family: 'Khula', sans-serif;
  line-height: 1.2;
}
.hero_quote {
  font-size: 40px;
  font-family: 'Khula', sans-serif;
}
.hero_name-sneakers {
  font-size: 180px;
  font-weight: 700;
}

/* Animation sneakers */

.hero_scroll-container{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.scroll-images {
  position: absolute;

  left: 40%;
  width: 289px;
  display: flex;
  flex-direction: column;
  animation: scroll-down-up 7s  infinite ; /* Анимация */
  transition: 0.7s;
}
/* Стили для изображений */
.scroll-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Ключевые кадры анимации */
@keyframes scroll-down-up {
  0% {
      transform: translateY(-60%); /* Начало: изображения скрыты за header */
  }

  50% {
      transform: translateY(-10%); /* Изображения наполовину заходят под section */
  }

  100% {
      transform: translateY(-60%); /* Изображения скрываются за header */
  }
}

.horo_content-end{
  position: relative;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_info-assortment{
  max-width: 453px;
}

.hero_batton-catalog{

}

.hero_nike-logo{
  position: relative;
  left: 20%;
  width: 129px;
  height: 64px;
}

.hero_info{
  position: absolute;
  top: 20%;
  left: 25%;
  display: flex;

  align-items: center;
  flex-direction: column;
  font-family: 'Khula', sans-serif;
  line-height: 1.2;
}
.hero_quote {
  font-size: 40px;
  font-family: 'Khula', sans-serif;
}
.hero_name-sneakers {
  font-size: 180px;
  font-weight: 700;
}

/* Animation sneakers */

.hero_scroll-container{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.scroll-images {
  position: absolute;

  left: 40%;
  width: 289px;
  display: flex;
  flex-direction: column;
  animation: scroll-down-up 7s  infinite ; /* Анимация */
  transition: 0.7s;
}
/* Стили для изображений */
.scroll-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Ключевые кадры анимации */
@keyframes scroll-down-up {
  0% {
      transform: translateY(-60%); /* Начало: изображения скрыты за header */
  }

  50% {
      transform: translateY(-10%); /* Изображения наполовину заходят под section */
  }

  100% {
      transform: translateY(-60%); /* Изображения скрываются за header */
  }
}

.horo_content-end{
  position: relative;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_info-assortment{
  max-width: 453px;
}

.hero_batton-catalog{

}
