body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  color: #fff;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

::selection {
  background-color: #62ad25;
  color: #fff;
  font-style: italic;
}

/* Для Firefox */
::-moz-selection {
  background-color: #ffcc00;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover:not(.logo, .active) {

}

/* Кнопки */


.button-baze:hover {
  background-color: #343434;
  transition: 0.5s;
}

.button_buy {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.4s;
  border: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.button_buy:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.button_buy:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button_buy::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.button_buy::after {
  background-color: #000;
}

.button_buy:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button_scroll{
  border: none;
  padding: 10px;
  width: 40px;
  background-color: #fff;
  
}
.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/*  */

.container {
  padding: 0 45px;
}

/* HEADER */
.header_back{
  width: 100%;
  height: 845px;
  background-image: url("/image/Home_Bagraund_image2.png");

}
.header {
  padding: 20px 45px;
  width: 100%;
  height: 90px;
  transition: 0.3s;
}
.header:hover {
  background-color: #fff;
  box-sizing: border-box;
}
.header:hover .nav-link a{
  color: #000;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  column-gap: 40px;
  color: #fff
}
.header-list a:hover{
  border-bottom: 1.5px solid #000;
  
}
.logo {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
}

.cart {
}


/* Гамбургер-меню */


/* Header_home */
.header_home {
  margin-left: 30px;
  height: 60vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}

h1 {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: center;
}
.header_home h3{
  font-size: 15px;
  text-transform: uppercase;
  width: 700;
}
.header_home   {
  text-transform: uppercase;
  font-size: 25px;
  width: 900;
  font-family: sans-serif;
}
.home_shop-now{
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #ffffff;
}

/* PREVIEW */
.preview {
  margin: 30px 0 70px 0;
  width: 100%;
  box-sizing: border-box;
}

.preview h2{
  font-size: 25px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  color: #000;
}

/* CATALOG */
.catalog {
  margin: 30px;
}
.catalog_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-button{
  display: flex;
  column-gap: 10px;
}

.home_catalog-card {
  display: flex;
  overflow-x: auto;
  gap: 7px;
  justify-content: center;
}

.home_card-item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  width: calc(27% - 40px);
}

.home_card-item img {
  width: 100%;
}

.home_card-info p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}

.home_card-info span {
  display: block;
  color: #000;
  margin-top: 20px;
}

.container-button {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.home_catalog-card::-webkit-scrollbar {
  height: 8px;
}

.home_catalog-card::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.home_catalog-card::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.home_catalog-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* FOOTER */
.footer {
  height: 300px;
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.footer_columns {
  display: flex;
  justify-content: space-between;
  padding: 84px 20px 0;
}

.footer_logo {
  position: relative;
  top: -10px;
  font-size: 30px;
}

.columns_information,
.columns_product,
.columns_feedback,
.columns_social-networks {
  display: flex;
  flex-direction: column;
}

.footer_social {
  display: flex;
  justify-content: end;
  margin-top: 33px;
}

.footer_text-end {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer_text-end h3 {
  font-size: 18px;
  font-weight: 300;
}

/* Медиазапросы для адаптивности */
